<div class="guInteractive">
    <header>
        <h2>{{title}}</h2>
        <h3>{{standfirst}}</h3>
        {{{byline}}}
    </header>
    
    <div id="actors">
        {{#actors}}
            <div class="actorContainer align-{{align}}" data-actor="{{id}}">
                <img src="{{assets}}/imgs/{{id}}/{{screenSize}}.jpg" />
                <div class="actorInformation">
                    <div class="actorMeta">
                        <h4>{{name}}</h4>
                        <h5>{{prize}}</h5>
                        <h6>{{caption}}</h6>
                    </div>
                    <div class="actorDescription">
                        <div class="descriptionShort">
                            <p>{{excerpt}}</p>
                            <button class="collapseButton" data-toggle="readMore" data-actor="{{id}}">Read more</button>
                        </div>
                        <div class="descriptionLong">
                            {{#fulltext}}
                                <p>{{{.}}}</p>
                            {{/fulltext}}
                            <button class="collapseButton" data-toggle="readLess" data-actor="{{id}}">Close</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        {{/actors}}
    </div>
    
</div>
